.top-destination{
    height: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2395FF;
    color: #FFFFFF;
    border-radius: 50px;
    margin: 50px auto;    
}

.topten{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 50px 0 60px;
}

.topten span{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.topten p{
    font-size: 24px;
    font-weight: 600;
}

.topten-img{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topten-img > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topten-img > div > span{
    font-size: 18px;
    font-weight: 400;
}

.container_img{
    /* height: 150px; */
    border: 5px solid white;
    border-radius: 50%;
    padding: 9px;
}

.img{
    border-radius: 50%;
    object-fit: cover;
}