@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@400;500&family=Pacifico&family=Poppins:ital,wght@0,400;0,500;1,400&family=Quicksand:wght@400;700&display=swap');
.header{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    /* background: green; */
}
.img{
    width: 100%;
}
.header-left{
    /* height: 800px; */
    display: flex;
    flex-direction: column;
    /* background: red; */
    /* justify-content: space-between; */
}
.header-right{
    display: flex;
    flex-direction: column;
    /* justify-content: end; */

}
.img3{
    width: "160px";
    margin: "80px 0 0 70px"
}
.content{
    display: flex;
    flex-direction: column;
    /* background: red; */
    width: 100% !important;
}
.catchphrase{
    /* margin: 20px 40px 0; */
    padding-left: 50px;
    margin: 100px 0 100px 0;
    /* background: blue; */
    width: 100%;
}

.catchphrase > p:first-of-type{
    color: #414141;
    font-size: 54px;
    font-weight: 600;
    margin: 0;
}

.catchphrase span {
    color: #2395FF;
}

.catchphrase > p:last-of-type{
    color:#979797;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 0 3px;
}

@media screen and (max-width: 576px){
    .catchphrase{
    padding-left: 30px;
    margin: 30px 0 50px 0;
    width: 100%;
    }
}



