
.container{
    margin-left: 80px !important;
    width: 35%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    border-radius: 20px;
    position: absolute;
    top: 110px;
    left: 30%;
    background: white;
}
.icon_repeat{
    color: #595959;
}

.content_to{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.content_to > div:first-of-type,
.content_to > div:last-of-type{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 300;
}

.content_to > div:nth-of-type(2){
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}

.origin,
.origin:focus,
.dest,
.dest:focus{
    width: 100px;
    background-color: transparent;
    color: #000000;
    border: none;
    outline: none;
}

.dest{
    text-align: right;
}

.content_trip > button:first-of-type{
    height: 40px;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2395FF;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.content_trip > button:last-of-type{
    height: 40px;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.content_trip > button:last-of-type img{
    position: relative;
    bottom: 2px
}

.content_trip span{
    margin-left: 10px;
}

.content_trip > button:first-of-type:focus{
    box-shadow: 0 3px 4px rgb(35, 149, 255, .5);
}

.content_trip > button:last-of-type:focus{
    box-shadow: 0 3px 4px rgb(0, 0, 0, .25);
}

.date{
    height: 40px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 0 10px;
}



.ticket{
    height: 40px;
    width: 48%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 0 10px;
}


.submit_btn{
    width: 100%;
    height: 40px;
    background-color: #2395FF;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 0 40px;
}

.submit_btn > span {
    font-family: 'Poppins', sans-serif;
    
}