html,
body {
  
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */


/* @media only screen and (max-width: 576px) {
  body {
    display: none;
    background-image: none !important;
  }
} */
